/*
  CAPSULES
*/

.capsule {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
}

.listeCapsules {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
